frontend/node_modules
frontend/.pnp
frontend/.pnp.js
frontend/coverage
frontend/build
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

backend/.env
backend/node_modules
backend/package-lock.json
banco/
backend/banco/
frontend/node_modules
frontend/package-lock.json
.vscode
uploads/
.env
.env.example

node_modules/
package-lock.json
backend/.env
backend/node_modules
backend/package-lock.json
banco/
uploads/
.env.example
squad2/banco/

frontend/node_modules
frontend/package-lock.json
.vscode
