*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    
}

body{
    background:linear-gradient(180deg, #303030 0%, #000000 100%) !important;
    height: 100vh;
}

.IconColor {
    color: "red";
}