*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
}

body{
    background:linear-gradient(180deg, #303030 0%, #000000 100%) !important;
    height: 100vh;
}

.inputs {
    background: #FDFCFC;
    border: 2px solid #7A57EA;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    width: 77vw;
    max-width: 400px;
    min-height: 36px;
    height: 50px;
    color: #FE963D;
    padding: 18px;
    font-weight: bold;
    font-size: 16px;
    outline: none;
}


.btn {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 77vw;
    max-width: 220px;
    height: 50px;
    color: "white" !important;
    cursor: pointer;
    background: #FE963D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-size: 1.2em;
    border: none;
    outline: none;
   
}

.btn_Login {
    margin-top: 15px;
    font-size:1.5em;
    background-color: #FE963D;
    color:white;
    border:1px solid #FE963D;
    border-radius:5px;
    align-self:center;
    padding: 5px 15px 5px 15px;  
    cursor: pointer;
    outline: none;
    width: 200px;
    height: 50px; 
}

.btn_sim {
    font-size:1.5em;
    background-color: #FE963D;
    color:white;
    border:1px solid #FE963D;
    border-radius:5px;
    align-self:center;
    padding: 5px 15px 5px 15px;  
    cursor: pointer;
    outline: none;  
}

.btn_nao {
    font-size:1.5em;
    background-color: #7A57EA;
    color:white;
    border:1px solid #7A57EA;
    border-radius:5px;
    align-self:center;
    padding: 5px 15px 5px 15px;    
    cursor: pointer;
    outline: none;  
}

.btn:hover {
    background-color: #7A57EA;
}

.MuiDialog-paperWidthSm {
    background: #303030 !important;
}

.labels {
    color: #7A57EA;
}

