.tarefa {
    display:grid;
    grid-template-columns: 120px  120px 235px 50px ;
    display: grid;
    grid-template-rows: 50px;
    margin: 5px auto 30px;

}

.tarefaGest{
    display:grid;
    grid-template-columns: 200px 120px 200px;
    display: grid;
    grid-template-rows: 50px;
    margin: 5px auto 30px;
}

.tarefa div {
    margin: 8px 4px;
    padding: 10px;
    display: grid;
    text-align: center;
    justify-content: center;
}

.cardTarefa {
    width:100%;
    max-width: 400px;
    background-color: #4A4848;
    border-radius:20px;
    padding: 10px;   
}




.box label input {
    display: none;
  }
 
  .box label span {
    height: 20px;
    width: 20px;
    border: 2px solid #FE963D;
    border-radius:5px;
    cursor:pointer;
    display: inline-block;
    position: relative;
  }
 
  .box [type=checkbox]:checked + span:before {
    content: '\2714';
    font-size:20px;
    color:#7A57EA;
    position: absolute;
    top: -5px;
    left: 0;
  }